/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;


.containerItemDetail{
	width: 100%;
	height: 100%;
	.containerDetail{
		background-color: blue;
		width: 100%;
		height: 150vh;
		.mediaProductContainer{
			width: 100%;
			height: 100%;
		}
	}
}






















