.checkoutContainer{
  width: 100%;
  height: calc(100vh - 240px);
  margin:120px 0 0 0;
  padding: 1% 12%;
  display: flex;
  justify-content: center;
  .window {
    height:100%;
    width:100%;
    background:#fff;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    border-radius:30px;
    .order-info {
      height:100%;
      width:50%;
      padding-left:25px;
      padding-right:25px;
      box-sizing:border-box;
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-pack:center;
      -webkit-justify-content:center;
          -ms-flex-pack:center;
              justify-content:center;
      flex-direction: column;
      h4{
        text-decoration: underline;
      }
      .totalBuy{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        h5{
          font-weight: bold;
          background-color: rgba(255, 0, 0, 0.37);
          border-radius: 20px;
        }
      }
      .order-info-content{
        height: 100%;
        width: 100%;
        border-bottom: 4px solid black;
        .itemsBuy{
          display: flex;
          align-items: center;
          border-bottom: 1px solid gray;
          .itemQuantity{
            width: 10%;
            display: flex;
            justify-content: center;
          }
          .itemName{
            @extend .itemQuantity;
            justify-content: flex-start;
            width: 70%;
          }
          .itemPrice{
            @extend .itemQuantity;
            width: 20%;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
  
  
 
  
  .pay-btn {
    border:none;
    background:#22b877;
    line-height:2em;
    border-radius:10px;
    font-size:19px;
    font-size:1.2rem;
    color:#fff;
    cursor:pointer;
    position:absolute;
    bottom:25px;
    width:calc(100% - 50px);
    -webkit-transition:all .2s ease;
            transition:all .2s ease;
    width: 50%;
  }
  .pay-btn:hover {
    background:#22a877;
      color:#eee;
    -webkit-transition:all .2s ease;
            transition:all .2s ease;
  }
  
 
  .credit-info {
    background:#4488dd;
    height:100%;
    width:50%;
    color:#eee;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    font-size:14px;
    font-size:.9rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    box-sizing:border-box;
    padding-left:25px;
    padding-right:25px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    position:relative;
  }
  
  .credit-info-content {
    margin-top:25px;
    -webkit-flex-flow:column;
        -ms-flex-flow:column;
            flex-flow:column;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    .buying{
      width: 100%;
      display: flex;
      justify-content: center;
      h3{
        font-weight: bold;
      }
    }
    .formContainer{
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }


@media only screen and (min-width:0px) and (max-width:768px){
  .checkoutContainer{
    height: min-content;
    width: 100%;
    justify-content:flex-start;
    z-index: none ;
    position: relative;
    .window{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .order-info{
        width: 100%;
        .order-info-content{
          overflow: auto;
          height: 400px;
          width: 100%;
          .itemsBuy{
            flex-direction: column;
            .itemQuantity{
              width: 100%;
            }
            .itemName{
              width: 100%;
              justify-content: center;
              margin-bottom: 2%;
            }
            .itemPrice{
              width: 100%;
              justify-content: center;
            }
           
          }
        }
      }
      .credit-info{
        width: 100%;
      }
    }
  }
    
}

@media only screen and (min-width:769px) and (max-width:1023px){

}
@media only screen and (min-width:1024px) and (max-width:1440px){

}