.containerFooter{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 120px;

}

@media only screen and (min-width:0px) and (max-width:768px){
   
    
}

@media only screen and (min-width:769px) and (max-width:1023px){

}
@media only screen and (min-width:1024px) and (max-width:1440px){

}