.emptyCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 240px);
    .emptyCartImg{
        width: 40%;
        height: 72%;
        display: flex;
        justify-content: center;
        img{
            width: max-content;
            height: 100%;
        }
    }
   
}
@media only screen and (min-width:0px) and (max-width:768px){
    .emptyCartContainer{
        height: calc(100vh - 240px);
        .emptyCartImg{
            height: 100%;
            height: min-content;
            img{
                height: 200px;
            }
        }
    }
    }

@media only screen and (min-width:769px) and (max-width:1023px){

}
@media only screen and (min-width:1024px) and (max-width:1440px){

}