nav{
    background-color: rgb(142, 0, 0);
    
}
.navbar{
    padding:0 12% 0 12%;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120px;
    z-index: 10;
    .navbarContainer{
        width: 50%; //ampliar en media querie
        background-color: rgb(142, 0, 0);
        .listNavContainer{
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-weight: bolder;
            li{
               a{
                   color: white;
               }

            }
           .cart{
               padding: 2% 0 0 0 ;
               margin: 0;
               height: min-content;
               img{
                   width: 30px;
                   height: 30px;
               }
               span{
                   background-color: red;
                   width: 18px;
                   height: 18px;
                   border-radius: 100px;
                   font-size: 12px;
                   color: white;
               }
               a{
                text-decoration: none;
               }
             
           }
        }
    }
}

.navDetail{
    height: 180px;
    padding: 1% 12% 0 12%;
    .navbarContainerDetail{
        width: 100%;
        .listNavDetail{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            li{
                a{
                    color: white;
                }
            }
            .cartDetail{
               height: min-content; 
               img{
                width: 35px;
                height: 35px;
               }
               span{
                background-color: red;
                width: 18px;
                height: 18px;
                border-radius: 100px;
                font-size: 12px;
                color: white;
                }
            }
        }
    }
}