.containerDetailProduct{
    width: 100%;
    padding: 2% 8% 2% 8%;
    height: 100%;
    display: flex;
    .spinner{
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
   
}

@media only screen and (min-width:0px) and (max-width:768px){
    .containerDetailProduct{
        padding: 0;
    }
}
